### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [10]:
import pandas as pd

# Creating the Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [11]:
# Creating a list with 10 elements
data_list = [1, 25, 32, 47, 5, 63, 7, 88, 93, 11]

# Converting the list into a Pandas Series
series_from_list = pd.Series(data_list)

# Printing the Series
print(series_from_list)

0     1
1    25
2    32
3    47
4     5
5    63
6     7
7    88
8    93
9    11
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data and then, print the DataFrame.

In [12]:
data = {"Name" : ["Alice","Bob","Claire"],"Age" : [25,30,27],"Gender" : ["Female","Male","Female"]}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

A **DataFrame** in pandas is a 2-dimensional labeled data structure with columns of potentially different types (e.g., integers, strings, etc.). It is similar to a table in a database or an Excel spreadsheet. It allows you to store and manipulate data in rows and columns.

A **Series**, on the other hand, is a 1-dimensional labeled array, which can hold any data type (e.g., integers, strings). It is similar to a single column of a DataFrame.

A DataFrame is like a table with rows and columns, while a Series is a single column.

A DataFrame can hold multiple Series as columns, whereas a Series is a single list-like structure.

In [13]:
# Example of Dataframe
data = {'Name': ['Alice', 'Bob'], 'Age': [25, 30]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0  Alice   25
1    Bob   30

In [14]:
# Example of Series 
age_series = pd.Series([25, 30])
print(age_series)

0    25
1    30
dtype: int64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Some common functions to manipulate data in a DataFrame include:

head() - Returns the first N rows of the DataFrame.

tail() - Returns the last N rows of the DataFrame.

drop() - Removes specified labels (columns or rows).

groupby() - Groups the data based on specified columns.

sort_values() - Sorts the DataFrame by column values.

In [15]:
# Example of drop() function:
df = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})
df_dropped = df.drop('Age', axis=1)  # Drop the 'Age' column
print(df_dropped)

    Name
0  Alice
1    Bob

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

DataFrame and Series are mutable in nature, meaning you can change their values after creation.

Panel is deprecated in recent versions of pandas and is no longer recommended. However, if available, it is also mutable.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [16]:
# pd.DataFrame() function combines them into a DataFrame where each column is labeled accordingly
import pandas as pd

# Create multiple Series
names = pd.Series(['Hari', 'Bose', 'Charles'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['India', 'Germany', 'England'])

# Combine Series into a DataFrame
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

# Printing the DataFrame
print(df)

      Name  Age     City
0     Hari   25    India
1     Bose   30  Germany
2  Charles   35  England